.PageLoader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-lg);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  pointer-events: none;
}
