.FormGroup + .FormGroup {
  margin-top: var(--spacing-md);
}

.FormGroup-wrapper {
  display: flex;
}

.FormGroup-label {
  display: block;
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05rem;
}

.FormGroup-input {
  display: inline-flex;
  width: 100%;
  padding: var(--spacing-sm);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  background-color: var(--white);
  border: 0;
  border-bottom: 2px solid var(--gray);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.125);
  transition: border-color var(--anim-speed) var(--anim-easing);
}

.FormGroup-input:focus {
  border-color: var(--purple);
  outline: none;
}

.FormGroup-button {
  flex: 0 40%;
  margin-left: var(--spacing-sm);
}
