.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--dark-gray);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--light-gray);
  box-shadow: var(--box-shadow-lg);
  font-family: var(--font-family-primary);
}

.Card--brokenOut {
  position: relative; /* allows use of z-index */
  z-index: var(--z-index-lg);
  margin: 0 auto;
  max-width: var(--breakpoint-xs);
}

@media (min-width: 736px) {
  .Card--brokenOut {
    margin-top: -5rem;
  }
}

.Card-alert {
  margin-bottom: var(--spacing-lg);
}

.Card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-sm);
  background: var(--white);
}

.Card-heading {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--dark-gray);
  line-height: 1.3;
}

.Card-meta.Card-meta {
  font-size: var(--font-size-sm);
  font-style: italic;
  color: var(--purple);
  margin: 0;
}

.Card-content {
  padding: var(--spacing-md);
  line-height: 1.5;
}

.Card-footer {
  padding: var(--spacing-md);
  background-color: var(--white);
}
