.PageContent {
  width: 100%;
  margin: 0 auto;
  padding: var(--section-padding);
}

.PageContent--xs {
  max-width: var(--breakpoint-xs);
}

.PageContent--sm {
  max-width: var(--breakpoint-sm);
}

.PageContent--md {
  max-width: var(--breakpoint-md);
}

.PageContent--lg {
  max-width: var(--breakpoint-lg);
}

.PageContent--xl {
  max-width: var(--breakpoing-xl);
}
