.Footer {
  padding: var(--container-padding);
  padding-top: 0 !important; /* 😧 Forgive me for my sins! */
  padding-bottom: 0 !important; /* 😧 Forgive me for my sins! */
  display: flex;
  align-items: center;
  height: var(--header-footer-height);
  background-color: var(--darker-gray);
  color: var(--white);
  font-family: var(--font-family-primary);
}

.Footer a {
  color: var(--white);
  text-decoration: underline;
}

@media (min-width: 736px) {
  .Footer {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
  }
}
