.Heading {
  font-weight: 700;
  font-family: var(--font-family-secondary);
}

.Heading + * {
  margin-top: var(--spacing-lg);
}

/* 1.33 modular scale from --> http://www.modularscale.com/?1&em&1.33 */
.Heading--1 {
  font-size: 2.488rem;
}

.Heading--2 {
  font-size: 2.074rem;
}

.Heading--3 {
  font-size: 1.728rem;
}

.Heading--4 {
  font-size: 1.44rem;
}

.Heading--5 {
  font-size: 1.2rem;
}

.Heading--6 {
  font-size: 1rem;
}
