.MemoryCard {
  position: relative; /* allows absolute positioning within */
}

.MemoryCard-actions {
  position: absolute;
  bottom: var(--spacing-sm);
  right: var(--spacing-sm);
}

.MemoryCard-action {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
  border: 0;
  transition: transform var(--anim-speed) var(--anim-easing),
              box-shadow var(--anim-speed) var(--anim-easing);
}

.MemoryCard-action:hover,
.MemoryCard-action:focus {
  transform: translateY(-3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.125);
}

.MemoryCard-actionIcon {
  color: var(--blue);
  background-color: var(--white);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
