.PageHeading {
  padding: var(--section-padding);
  position: relative; /* allows absolute positioning within */
  background: var(--darker-gray);
  color: var(--white);
}

.PageHeading-heading {
  position: relative; /* allows use of z-index */
  z-index: var(--z-index-lg);
}

.PageHeading-background {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  filter: grayscale(100%) contrast(200%);
}