.Table {
  border: 0;
  width: 100%;
}

.Table-filterField {
  margin-bottom: var(--spacing-lg);
  max-width: var(--breakpoint-sm);
}

.Table-row {
  border-bottom: 1px solid var(--light-gray);
}

.Table-headCell {
  font-weight: 700;
}

.Table-headCell,
.Table-cell {
  text-align: left;
  background-color: var(--white);
  padding: var(--spacing-md) var(--spacing-sm);
  line-height: 1.66;
}
