:root {
  --offset: var(--header-footer-height) * 2;
}

.Layout {
  height: 100%;
}

.Layout-main {
  justify-self: flex-start;
  min-height: calc(100vh - var(--offset));
}

.Layout-footer {
  justify-self: flex-end;
}