.FormWrapper {
  position: relative; /* allows use of z-index */
  z-index: var(--z-index-lg);
  margin: 0 auto;
  max-width: var(--breakpoint-xs);
}

@media (min-width: 736px) {
  .FormWrapper {
    margin-top: -5rem;
  }
}