.MaxWidth {
  margin: 0 auto;
  width: 100%;
}

.MaxWidth--xs {
  max-width: var(--breakpoint-xs);
}

.MaxWidth--sm {
  max-width: var(--breakpoint-sm);
}

.MaxWidth--md {
  max-width: var(--breakpoint-md);
}

.MaxWidth--lg {
  max-width: var(--breakpoint-lg);
}

.MaxWidth--xl {
  max-width: var(--breakpoint-xl);
}
